footer{
    padding: 2rem;
    display: grid;
    place-items: center;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    a{
        transition: .3s ease-in;
        &:hover{
            color: $secondery-color !important;
        }
    }
    @media (max-width:767px)
    {
        font-size: 1rem;
    }
}