nav {
  padding: 1rem;
  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-box {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991px) {
      display: none;
    }
    .box {
      background-color: #27292a;
      padding: 0.5rem;
      border-radius: 1.5rem;
      input {
        background: transparent;
        border: none;
        outline: none;
        color: $grey-color;
      }
      svg {
        color: $grey-color;
        font-size: 1.3rem;
      }
    }
  }
  .links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      color: #fff;
      cursor: pointer;
      display: none;
    }
    @media (max-width: 991px) {
      justify-content: flex-end;
      svg {
        display: inline-block;
      }
    }
    ul {
      display: flex;
      gap: 2rem;
      align-items: center;

      @media (max-width: 991px) {
        position: absolute;
        right: 0;

        top: 100%;
        flex-direction: column;
        z-index: 999;
        width: 200px;
        background-color: #fff;
        &.show-nav {
          display: flex;
        }
        &.hide-nav {
          display: none;
        }
      }
      li {
        @media (max-width: 991px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          padding: 0.5rem 1rem;
          transition: 0.3s ease-in;
          @media (max-width: 991px) {
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            color: $secondery-color !important;
          }
          &.active {
            color: $secondery-color !important;
          }
        }
        &:last-of-type a {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          flex-direction: row;
          background-color: #27292a;
          border-radius: 1.5rem;
          @media (max-width: 991px) {
            background-color: transparent;
          }

          img {
            border-radius: 50%;
            width: 2rem;
            @media (max-width: 991px) {
              display: none;
            }
          }
          &:hover {
            background-color: $secondery-color !important;
            color: #fff !important;
            @media (max-width: 991px) {
              background-color: transparent !important;
              color: $grey-color !important;
            }
          }
        }
      }
    }
  }
}
